{% extends 'base/base.html'%}

{% block content %}
<form method="post">
	{% csrf_token %}
	<h3>¿Desea elimiar el registro de {{ object.nombre }} </h3>
	<button class="btn btn-danger" type="submit">Si, Eliminar</button>
	<a href=""></a>
</form>