{% extends 'base/base.html' %}

{% block content  %}
<table class="table table-bordered">
    <thread>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha de Rescate</td>
            <td>Adoptante</td>
        </tr>
    </thread>

    <tbody>
    	{% if object_list %}
 		{% for mascota in object_list %}
        <tr>
            <td>{{ mascota.id }}</td>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.sexo }}</td>
            <td>{{ mascota.edad }}</td>
            <td>{{ mascota.fecha_rescate }}</td>
            <td>{{ mascota.persona.nombre }} {{ mascota.persona.appellido }}</td>
        </tr>
        {% endfor %}

        {% endif %}

    </tbody>
{% endblock  %}