{% extends 'base/base.html' %}

{% block content  %}
<table class="table table-bordered">
    <thread>
        <tr>
            <td>No. Solicitud</td>
            <td>Adoptante</td>
            <td>No. Mascotas</td>
            <td>Razones</td>
            <td>Acciones</td>
        </tr>
    </thread>

    <tbody>
    	{% if object_list %}
 		{% for solicitud in object_list %}
        <tr>
            <td>{{ solicitud.id }}</td>
            <td>{{ solicitud.persona.nombre }} {{ solicitud.persona.apellido }}</td>
            <td>{{ mascota.numero_mascotas }}</td>
            <td>{{ mascota.razones }}</td>

        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro de solicitudes</h1>

        {% endif %}

    </tbody>
{% endblock  %}