{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"> 
<head>
<meta charset="UTF-3">
   {% block extrastatic %}
   <style type="text/css">
   .header {background-color: #2f3432}
   .footer {background-color: #2f3432}
   .divUno {background-color: #DB1010}
   </style>
   {% endblock %}
 <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
  <!-- Google fonts - Roboto-->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- Bootstrap Select-->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
  <!-- owl carousel-->
  <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

<title>
{% block title%}
	Mis Perris 
{% endblock %}
	
</title>
</head>

{% block header %}

  <header class="header">
  {% block navbar %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="text-white">Mis Perris</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-expanded="false">Mascotas</a>
                      <ul class="dropdown-menu text-white" role="menu">
                        <li><a class="text-dark" href="{% url 'mascota:mascota_crear' %}">Registrar</a></li>
                        <li><a class="text-dark" href="{% url 'mascota:mascota_listar' %}">Listar</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-expanded="false">Adopciones</a>
                      <ul class="dropdown-menu text-white" role="menu">
                        <li><a class="text-dark" href="{% url 'mascota:mascota_crear' %}">Solicitar</a></li>
                        <li><a class="text-dark" href="{% url 'mascota:mascota_crear' %}">Listar Solicitudes</a></li>
                      </ul>                     
                    </li>

                  </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-expanded="false">Opciones <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a class="text-dark" href="{% url 'logout' %}">Salir</a></li>
                        </ul>
                      </li>
                      <li>
                        
                      </li>
                    </ul>
    </div>
  </nav>
  {% endblock %} 
  </header>
  {% endblock %} 

<body>
<div class="container">
  



    {% block content%}

    {% endblock %}
  

</div>
     <!-- Javascript files-->
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"> </script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
      <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"> </script>
      <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"> </script>
      <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vendor/jquery.scrollto/jquery.scrollTo.min.js' %}"></script>
    {% block extrajs %}
	
    {% endblock %}
    
</body>
{% block footer %}

  <footer class="footer text-white">
    <div class="container">
      <div class="row">
         <div class="col-md-8">
      <br>
    </div>
  
    <div class="col-md-4">
       <br>
      <address>
         <strong>MisPerris, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Santiago, Cl<br> <abbr title="Phone">Telefono:</abbr> (+569) 96150697
      </address> <a href="{% url 'mascota:mascota_listar' %}">BackDoor</a>
    </div>
  </div>
    </div>
    

{% endblock %}
</html>