{% load staticfiles %}
<!DOCTYPE html>
<html lang="es"> 
<head>
<meta charset="UTF-3">
   {% block extrastatic %}

   {% endblock %}
   <link rel="stylesheet" href="{% static 'css/bootstrap.core' %}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
 	<link href="css/one-page-wonder.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/one-page-wonder.min.css' %}">
	
	<title>
	{% block title%}
	Titulo 
	{% endblock %}
	</title>
</head>
<body>
<div class="container">
    {% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul>
    								<li class="dropdown">
    									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Productos</a>
    									<ul class="dropdown-menu" role="menu">
    										<li><a href="#">Registrar</a></li>
    										<li><a href="#">Listar</a></li>
    									</ul>
    								</li>

    								<li class="dropdown">
     									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ventas</a>
    									<ul class="dropdown-menu" role="menu">
    										<li><a href="#">Realizar venta</a></li>
    										<li><a href="#">Historial de ventas</a></li>
    									</ul>   									
    								</li>

    							</ul>
    								<ul class="nav navbar-nav navbar-right">
    									<li class="dropdown">
    										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones <span class="caret"></span></a>
    										<ul class="dropdown-menu" role="menu">
    											<li><a href="#">Salir</a></li>
    										</ul>
    									</li>
    									<li>
    										
    									</li>
    								</ul>
  </div>
</nav>
    {% endblock %} 

    {% block header %}

    {% endblock %} 

    {% block content%}
----
    {% endblock %}
  
    {% block footer %}

	<footer class="footer text-white">
    <div class="container">
      <div class="row">
         <div class="col-md-8">
			<br>
			<h5>Comunidad:</h5>
			<p>
		 Unete a nuestro servidor de Discord
		   <a href="https://discord.gg/3K6EBYv" target=_blank>
             <img src="img/Discord.png" width="30" alt="" height="30">
           </a>
         

		</div>
	
		<div class="col-md-4">
			 <br>
			<address>
				 <strong>Gaming X, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> Santiago, Cl<br> <abbr title="Phone">Telefono:</abbr> (+569) 96150697
			</address>
		</div>
	</div>
    </div>
    

    {% endblock %}
</div>
    <script src="https://code.jquery.com/jquery-1-10.2.min.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
  	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {% block extrajs %}
	
    {% endblock %}
</body>
</html>