{% extends 'base/base.html' %}
{% block title %}
Mis Perris
{% endblock %}

{% block navbar %}
<!-- Image and text -->
<nav class="navbar navbar-light bg-dark">
  <h1 class="text-white">Mis Perris</h1>

</nav>
{% endblock %}

{% block content %}


<form method='post ' class=" offset-4 text-center ">
	<br>
	<br>
	<br>
	{% csrf_token %}
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<div class="form-group">
				<h3>Nombre de usuario:</h3>
				<input class="form-control" type="text" name="username">
			
			</div>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<h3>Contraseña:</h3>
				<input class="form-control" type="password" name="password">
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group">
				<a href="{% url 'usuario:registrar_nuevo' %}">Registrarse</a>
				<input class="btn btn-primary" type="submit" value="Ingresar">
			</div>	
		</div>
	</div>
	<br>
	<br>
	<br>
</form>
{% endblock %}