{% extends 'base/base.html'%}

{% block content %}
<form method="post">
	{% csrf_token %}
	<br>
	<br>
	<h3 class="offset-2">¿Desea elimiar el registro de {{ object.nombre }} ? </h3>
	<br>
	<br>
	<button class="btn btn-danger offset-7" type="submit">Si, Eliminar</button>
	<a class="btn btn-default"href="{% url 'mascota:mascota_listar' %}">Cancelar</a>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}
</form>