{% extends 'base/base.html' %}

{% block content  %}
<table class="table table-bordered">
    <thread>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Sexo</td>
            <td>Edad</td>
            <td>Fecha de Rescate</td>
            <td>Adoptante</td>
            <td>Acciones</td>
        </tr>
    </thread>

    <tbody>
        <br>
    <br>
    <br>
    <h1 class="text-center">Listado de Mascotas</h1>
    <br>
    	{% if object_list %}
 		{% for mascota in object_list %}
        <tr>
            <td>{{ mascota.id }}</td>
            <td>{{ mascota.nombre }}</td>
            <td>{{ mascota.sexo }}</td>
            <td>{{ mascota.edad }}</td>
            <td>{{ mascota.fecha_rescate }}</td>
            <td>{{ mascota.persona.nombre }} {{ mascota.persona.appellido }}</td>
            <td>
            	<a class="btn btn-primary" href="{% url 'mascota:mascota_editar' mascota.id %}">Editar</a>
            	<a class="btn btn-danger" href="{% url 'mascota:mascota_eliminar' mascota.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro de mascotas</h1>

        {% endif %}

    </tbody>

</table>
<a class="btn btn-primary offset-10" href="{% url 'mascota:mascota_crear' %}">Agregar</a>
<ul class="pager">
    <li>
        {% if page.obj.has_previous %}
        <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}
        
    </li>
    <li>
        {% if page.obj.has_next %}
        <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </li>
    
</ul>
{% endblock  %}