{% extends 'base/base.html' %}

{% block content %}
<br>
<br>
<br>
<h3>Registrar nueva mascota</h3>
<br>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary offset-10" type="submit">Guardar</button>

    <br>
    <br>
    <br>
    <br>
{% endblock  %}}